{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Django</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="text">
          <h1>Bem vindo! <br> Quer ver um CRUD feito em Django?</h1>
          <!-- <img src="{% static 'svg/animate.svg' %}" class="left-login-image"alt="Animação de um usuário ouvindo musica enquanto trabalha."> -->
        
          <a href="{% url 'url_login' %}">Vamos lá!</a>
          
      </div>

  </div>

  </body>
</html>