{% load static %}



<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- STYLES -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
<body>
  <section clas="section">
    <div class="container grid">
      <div class="img">
        <img src="https://media.istockphoto.com/id/1368151370/photo/user-typing-login-and-password-cyber-security-concept.jpg?b=1&s=170667a&w=0&k=20&c=wm6YUMs03Bup4_9XcQaX61L711qJxAUExEJp_PWO8gI=" alt="">
      </div>
      <div>
        <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
          
            <div class="dados">
            <input type="text" placeholder="Username..." name="username">
            <input type="password" placeholder="Senha..." name="password">
            <input class="button" type="submit" value="Logar" >
            </div>

            <div class="new-user">
            <p>Ainda não tem uma conta?</p>
            <a href="{% url 'url_cadastro' %}">Criar uma conta agora.</a>
            </div>

          {% for k, v in form.errors.items %}
              {{ v }}
          {% endfor %}
        </form>
      </div>
      </div>
    </div>
  </section>
</body>
</html>