{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login <br> E participe agora mesmo!</h1>
            <img src="{% static 'svg/animate.svg' %}" class="left-login-image"alt="Animação de um usuário ouvindo musica enquanto trabalha.">
        </div>
        
        <form action="{% url 'login' %}" method="POST" 
        class="right-login" >
        {% csrf_token %}
            <div class="card-login">
                <h1>Login</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="username"  placeholder="Username">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="password"  placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn-login">Login</button>
                
                <div class="new-user">
                    <p>Ainda não tem uma conta?</p>
                    <a href="{% url 'url_cadastro' %}">Criar uma conta agora.</a>
                </div>
            </div>
        {% for k, v in form.errors.items %}
            {{ v }}
        {% endfor %}
        </form>

    </div>
</body>
</html>