@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.text>a {
    color: #f0ffffde;
    font-size: 2rem;
    padding: 2rem;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .text {
        width: 85%;
        height: auto;
    }

    .text>a {
        width: 85%;
        color: #f0ffffde;
        font-size: 1.2rem;
        padding: 2rem;
    }

}