@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text>h1 {
    color: #ff6915;
    font-weight: 800;
    margin: 0;
}

.links {
    display: inline-flex;
    align-items: center;
}

.fa-chrome {
    color: #ff6915;
    padding: 1rem;
}

.fa-linkedin-in {
    padding: 1rem;
    color: #0A66C2;

}

.fa-github {
    color: #F0F6FC;
    padding: 1rem;
}

.links>a {
    color: #f0ffffde;
    font-size: 1rem;
    padding: 2rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.back-login>a {
    color: #ff6915;
}


@media only screen and (max-width: 950px) {
    .container {
        flex-direction: column;
    }

    .text {
        width: 80vw;
        text-align: center;
    }

    .links {
        display: grid;
        padding: 2rem;
        margin-top: 2rem;
    }

    .links>a {
        padding: 1.5rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }



    .text {
        width: 100%;
        height: auto;
    }

}