@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-container>h1 {
    color: #ff6915;
    font-size: 3vw;
}

.left-container-image {
    width: 35vw;
}

.right-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-form {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    flex-flow: wrap;
    overflow-y: auto;
    margin: 2rem 0rem 2rem 0rem;
}

::-webkit-scrollbar {
    background-color: red;
    width: 0.7rem;
    border-radius: 2rem;
}

::-webkit-scrollbar-track {
    background-color: #201b2c;
    border-radius: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: #ff6915;
    border-radius: 2rem;
}


.card-form>h1 {
    color: #ff6915;
    font-weight: 800;
    margin: 0;
}

form {
    background-color: red;
    display: contents;
}

textarea,
input,
select {
    background-color: red;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    font-size: 12pt;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
}

select::placeholder {
    border-radius: 2rem;
}

select>option {
    border-radius: 2rem;
    color: #f0ffffde;
}

label {
    color: #f0ffffde;
    margin-bottom: 10px;
}


form>p {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    color: #f0ffffde;
}

.btn-salvar {
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #ff6915;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff910052;
    text-align: center;
    text-decoration: none;
    display: inline-table;
}

.btn-salvar:hover {
    background: #ff8a15;
}

.btn-remover {
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #f0ffffde;
    background: #ec2424cd;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffffff52;
    text-align: center;
    text-decoration: none;
    display: inline-table;
}

.btn-remover:hover {
    background: #ff5656;
}

.btn-sair {
    width: 100%;
    padding: 16px 0px;
    margin-bottom: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #f0ffffde;
    background: #514869;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffffff52;
    text-align: center;
    text-decoration: none;
    display: inline-table;
}

.btn-sair:hover {
    background: #5f4869;
}

.new-user {
    color: #f0ffffde;
    text-align: center;
}

.new-user>a {
    color: #ff6915;


}

li {
    color: #f0ffffde;
}

@media only screen and (max-width: 950px) {
    .card-form {
        width: 85%;
    }


}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left-container>h1 {
        display: none;
    }

    .left-container {
        width: 100%;
        height: auto;
    }


    .right-container {
        width: 100%;
        height: auto;
    }

    .left-container-image {
        width: 60vw;
    }

    .card-form {
        width: 90%;
    }

}